body {
    min-width: 372px;
}

.wrapper {
    min-height: 100vh;
}

.truncar-3l {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.fundo-dark {
    /* background-color: rgb(27, 27, 27); */
    /* background-color: #000000; */
    background-color: #0f1216;
    /* background-color: #230046; */
}

.texto {
    text-align: justify;
}

.no-pix{
    font-size: 16px;
}

.no-cartao{
    font-size: 10px;
}